In [ ]:
#1)def calculate_monthly_salary(annual_salary, tax_rate):

    tax_amount = annual_salary * tax_rate
    net_income = annual_salary - tax_amount
    monthly_salary = net_income / 12

    return monthly_salary


annual_salary = 50000
tax_rate = 0.20        # 20%
monthly_salary = calculate_monthly_salary(annual_salary, tax_rate)
print("Monthly salary:", monthly_salary)

In [ ]:
#2)
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def celsius_to_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

celsius_temperature = 25
fahrenheit_temperature = celsius_to_fahrenheit(celsius_temperature)
kelvin_temperature = celsius_to_kelvin(celsius_temperature)

print("Celsius:", celsius_temperature)
print("Fahrenheit:", fahrenheit_temperature)
print("Kelvin:", kelvin_temperature)

In [ ]:
#3)
def absolute_difference(a, b):
    return abs(a - b)

num1 = 10
num2 = 5
diff = absolute_difference(num1, num2)
print("Absolute difference between", num1, "and", num2, "is", diff)

In [ ]:
#4)With 3rd variable
def swap_with_temp(a, b):
    temp = a
    a = b
    b = temp
    return a, b
num1 = 5
num2 = 10
num1, num2 = swap_with_temp(num1, num2)
print("Swapped numbers (with temp):", num1, num2)

In [ ]:
#Without 3rd variable
def swap_without_temp(a, b):
    a = a + b
    b = a - b
    a = a - b
    return a, b


num1 = 5
num2 = 10
num1, num2 = swap_without_temp(num1, num2)
print("Swapped numbers (without temp):", num1, num2)

In [ ]:
#5)
def find_largest(num1, num2, num3):
    largest = num1
    if num2 > largest:
        largest = num2
    if num3 > largest:
        largest = num3
    return largest


num1 = 10
num2 = 25
num3 = 15
largest_number = find_largest(num1, num2, num3)
print("The largest number is:", largest_number)

In [ ]:
#6)
def compute_absolute_value(number):
    return abs(number)


number = -5
absolute_value = compute_absolute_value(number)
print("The absolute value of", number, "is", absolute_value)

In [ ]:
#7)
def check_even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

number = 10
result = check_even_or_odd(number)
print("The number", number, "is", result)

In [ ]:
#8)
def calculate_grade(marks):
    if marks >= 90:
        return "A"
    elif marks >= 80:
        return "B"
    elif marks >= 70:
        return "C"
    elif marks >= 60:
        return "D"
    elif marks >= 50:
        return "E"
    else:
        return "F"
marks = 85
grade = calculate_grade(marks)
print("For", marks, "marks, the grade is:", grade)

In [ ]:
#9)
class TrainBooking:
    def __init__(self, distance, class_type):
        self.distance = distance
        self.class_type = class_type

    def calculate_cost(self):
        if self.class_type == "SL":
            fare_per_km = 1.5
        elif self.class_type == "3AC":
            fare_per_km = 3
        elif self.class_type == "2AC":
            fare_per_km = 4.5
        elif self.class_type == "1AC":
            fare_per_km = 6
        else:
            return "Invalid class type"

        total_cost = fare_per_km * self.distance
        return total_cost


distance = 500
class_type = "2AC"

booking = TrainBooking(distance, class_type)
total_cost = booking.calculate_cost()
print("Total cost of booking in", class_type, "for a distance of", distance, "km is Rs.", total_cost)

In [ ]:
#10)
def check_eligibility(age, category, experience):
    if age < 18:
        return "You must be at least 18 years old to apply for this job."

    if category == "Category A":
        if experience >= 2:
            return "You are eligible for the job in Category A."
        else:
            return "You do not have enough experience for the job in Category A."
    elif category == "Category B":
        if experience >= 3:
            return "You are eligible for the job in Category B."
        else:
            return "You do not have enough experience for the job in Category B."
    elif category == "Category C":
        if experience >= 5:
            return "You are eligible for the job in Category C."
        else:
            return "You do not have enough experience for the job in Category C."
    else:
        return "Invalid job category."


age = 20
category = "Category B"
experience = 4
print(check_eligibility(age, category, experience))

In [ ]:
#11)
def is_triangle(a, b, c):
    if (a + b > c) and (a + c > b) and (b + c > a):
        return True
    else:
        return False


a = 3
b = 4
c = 5
if is_triangle(a, b, c):
    print("The given sides can form a triangle.")
else:
    print("The given sides cannot form a triangle.")

In [ ]:
#12)
def factorial(N):
    if N == 0:
        return 1
    else:
        return N * factorial(N - 1)


N = 5
result = factorial(N)
print("The factorial of", N, "is", result)

In [ ]:
#13)
import math

def is_prime(N):
    if N <= 1:
        return False
    elif N == 2:
        return True
    elif N % 2 == 0:
        return False
    else:
        sqrt_N = int(math.sqrt(N))
        for i in range(3, sqrt_N + 1, 2):
            if N % i == 0:
                return False
        return True


N = 17
if is_prime(N):
    print(N, "is a prime number.")
else:
    print(N, "is not a prime number.")

In [ ]:
#14)
def print_gp(a, N, r):
    print("The first", N, "terms of the GP are:")
    for n in range(1, N + 1):
        term = a * (r ** (n - 1))
        print(term, end=" ")


a = 2
N = 5
r = 3

print_gp(a, N, r)

In [ ]:
#15)
def calculate_sum(N):
    total_sum = 0
    for i in range(N):
        num = float(input("Enter number {}: ".format(i + 1)))
        total_sum += num
    return total_sum

N = int(input("Enter the value of N: "))


result = calculate_sum(N)
print("The sum of", N, "numbers is:", result)

Enter the value of N: 4
Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
The sum of 4 numbers is: 10.0

In [ ]:
#16)
def print_ordered_pairs(N):
    print("Ordered pairs formed using the first", N, "numbers:")
    for i in range(0, N + 1):
        for j in range(0, N + 1):
            print("({}, {})".format(i, j))

N = int(input("Enter the value of N: "))

print_ordered_pairs(N)

Enter the value of N: 10
Ordered pairs formed using the first 10 numbers:
(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(0, 6)
(0, 7)
(0, 8)
(0, 9)
(0, 10)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(1, 7)
(1, 8)
(1, 9)
(1, 10)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(2, 9)
(2, 10)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(3, 7)
(3, 8)
(3, 9)
(3, 10)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(4, 7)
(4, 8)
(4, 9)
(4, 10)
(5, 0)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)
(5, 6)
(5, 7)
(5, 8)
(5, 9)
(5, 10)
(6, 0)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)
(6, 7)
(6, 8)
(6, 9)
(6, 10)
(7, 0)
(7, 1)
(7, 2)
(7, 3)
(7, 4)
(7, 5)
(7, 6)
(7, 7)
(7, 8)
(7, 9)
(7, 10)
(8, 0)
(8, 1)
(8, 2)
(8, 3)
(8, 4)
(8, 5)
(8, 6)
(8, 7)
(8, 8)
(8, 9)
(8, 10)
(9, 0)
(9, 1)
(9, 2)
(9, 3)
(9, 4)
(9, 5)
(9, 6)
(9, 7)
(9, 8)
(9, 9)
(9, 10)
(10, 0)
(10, 1)
(10, 2)
(10, 3)
(10, 4)
(10, 5)
(10, 6)
(10, 7)
(10, 8)
(10, 9)
(10, 10)

In [ ]:
#17)
def print_square(size):
    for i in range(size):
        print("* " * size)
size = int(input("Enter the size of the square: "))
print_square(size)

Enter the size of the square: 4
* * * *
* * * *
* * * *
* * * *

In [ ]:
#18)right triangle printing
def print_rec(n):
  for i in range(1,n,1):
    print('*'*i)
n=int(input())
print_rec(n)

10
*
**
***
****
*****
******
*******
********
*********

In [ ]:
#19)Rectangle
def print_hollow_rectangle(row, col):

    print("* " * col)

    for i in range(row - 2):
        print("*", end=" ")
        print("  " * (col - 2), end=" ")
        print("*")
    print("* " * col)

row = int(input("Enter the number of rows: "))
col = int(input("Enter the number of columns: "))

print_hollow_rectangle(row, col)

Enter the number of rows: 10
Enter the number of columns: 6
* * * * * *
*          *
*          *
*          *
*          *
*          *
*          *
*          *
*          *
* * * * * *

In [ ]:
#Circle
radius = 5

for y in range(-radius, radius + 1):
    for x in range(-radius, radius + 1):
        if x**2 + y**2 <= radius**2:
            print('*', end='')
        else:
            print(' ', end='')
    print()

     *
  *******
 *********
 *********
 *********
***********
 *********
 *********
 *********
  *******
     *

In [ ]:
#print(range(1,5)) -->object

In [ ]:
print(list(range(5,1)))

[]

In [ ]:
n=int(input())
print(list(range(1,n,2)))

16
[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
#AP
a=int(input('Enter first term'))
d=int(input('Enter diff'))
n=int(input('Enter no. of printing'))

for i in range(n):
  print(a+i*d)

Enter first term1
Enter diff2
Enter no. of printing13
1
3
5
7
9
11
13
15
17
19
21
23
25

In [ ]:
#GP
a=int(input('first'))
r=int(input('ratio'))
n=int(input(''))
for i in range(n):
  print(a*(i*d))

first1
ratio3
10
0
2
4
6
8
10
12
14
16
18

In [ ]:
a=int(input('Enter first term'))
d=int(input('Enter diff'))
n=int(input('Enter no. of printing'))

for i in range(n):
  print("1/",(a+i*d))

Enter first term1
Enter diff3
Enter no. of printing16
1/ 1
1/ 4
1/ 7
1/ 10
1/ 13
1/ 16
1/ 19
1/ 22
1/ 25
1/ 28
1/ 31
1/ 34
1/ 37
1/ 40
1/ 43
1/ 46

In [ ]:
n=int(input('Enter the no.'))
for i in range(1,n,1):
  if n%i==0:
    print(i)

Enter the no.19
1

In [ ]:
def fact(n):
  if(n==1):
    return 1
  elif n>1:
    return n*fact(n-1)

n=int(input())
fact(n)

4

24

In [ ]:
def print_kite(height):

    for i in range(1, height // 2 + 2):
        print(" " * (height // 2 + 1 - i) + "*" * (2 * i - 1))

    for i in range(height // 2, 0, -1):
        print(" " * (height // 2 + 1 - i) + "*" * (2 * i - 1))

height = 9
print_kite(height)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
def print_downward_stairs(height):
    for i in range(height, 0, -1):
        print("*" * i)

height = 5
print_downward_stairs(height)

*****
****
***
**
*

In [ ]:
def print_stair(height):
    for i in range(1, height + 1):
        print("*" * i)
height = 5
print_stair(height)

*
**
***
****
*****

In [ ]:
def print_rightward_stairs(height):
    for i in range(1, height + 1):
        print(" " * (height - i) + "*" * i)
height = 5
print_rightward_stairs(height)

    *
   **
  ***
 ****
*****

In [ ]:
def print_combined_triangles(height):
    for i in range(1, height + 1):

        print(" " * (height - i), end="")
        print("*" * i, end="")


        if i > 1:
            print("*" * (i - 1))
        else:
            print()
height = 5
print_combined_triangles(height)

    *
   ***
  *****
 *******
*********

In [ ]:
#40)
import math

def nearest_power_of_two(num):

    num = abs(num)


    exponent = math.log2(num)
    rounded_exponent = round(exponent)
    nearest_power = 2 ** rounded_exponent

    return nearest_power
number = 20
print(nearest_power_of_two(number))

16

In [ ]:
#41)
def sum_of_digits(number):

    digit_sum = 0

    # Loop until number becomes 0
    while number > 0:

        digit = number % 10

        digit_sum += digit

        r
        number //= 10

    return digit_sum

print(sum_of_digits(number))

15

In [ ]:
#42)
def decimal_to_binary(number):
    binary_digits = []

    if number == 0:
        return "0"

    while number > 0:
        remainder = number % 2
        binary_digits.append(str(remainder))
        number //= 2
    binary_string = ''.join(binary_digits[::-1])

    return binary_string


number = 42
print(decimal_to_binary(number))

101010

In [ ]:
#reverse string
def reverse_string(input_string):
    return input_string[::-1]
input_string = "Hello, world!"
print(reverse_string(input_string))

!dlrow ,olleH

In [ ]:
#shift string
def left_shift_string(string, shift):
    shifted_string = string[shift:] + string[:shift]
    return shifted_string
string = "abcdefg"
shift = 1
print(left_shift_string(string, shift))

bcdefga

In [ ]:
#palindrome
def is_palindrome(input_string):
    input_string =input_string.lower()

    reversed_string = input_string[::-1]
    if input_string == reversed_string:
        return True
    else:
        return False

input_string = "level"
print(is_palindrome(input_string))

True

In [ ]:
#46)
def array_sum(arr):
    total_sum = 0
    for element in arr:
        total_sum += element

    return total_sum
my_array = [1, 2, 3, 4, 5]
print(array_sum(my_array))

15

In [ ]:
def sum_adjacent_values(arr):
    summed_array = []
    for i in range(len(arr) - 1):
        summed_array.append(arr[i] + arr[i + 1])

    return summed_array
my_array = [1, 2, 3, 4, 5]
print(sum_adjacent_values(my_array))

[3, 5, 7, 9]

In [ ]:
n=[0,1,1,2,3,5,8]
for i in range(2,7,1):

  if n[i]==n[i-1]+n[i-2]:
    print('True')
    break

True

In [ ]:
l=['abc','hello']
l.sort()
print(l.sort())

None

In [ ]:


import numpy as np


arr = np.array([1, 2, 3, 4, 5])

total_sum = np.sum(arr)

print(f"{total_sum}")

The sum of all elements in the array is: 15

In [ ]:
# sum of odd indices -sum of even indices in list

def sum_of_odd_minus_even_indices(lst):

  odd_sum = 0
  even_sum = 0
  for i in range(len(lst)):
    if i % 2 == 0:
      even_sum += lst[i]
    else:
      odd_sum += lst[i]
  return odd_sum - even_sum

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
result = sum_of_odd_minus_even_indices(my_list)
print(f"{result}")

In [ ]:


def search_string_in_array(arr, search_string):
  for element in arr:
    if element == search_string:
      return True
  return False

my_array = ["apple", "banana", "cherry", "mango"]
search_string = "banana"

found = search_string_in_array(my_array, search_string)

if found:
  print(f"{search_string}")
else:
  print(f"{search_string}")

banana

In [ ]:
x=list(map(int,input().split()))
print(len(x))

1 2 3 4 5 5 6 7 7
9

In [ ]:
#Sum of two matrix

def sum_of_matrices(matrix1, matrix2):


  if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
    raise ValueError("Matrices must have the same dimensions")

  sum_matrix = [[0 for _ in range(len(matrix1[0]))] for _ in range(len(matrix1))]
  for i in range(len(matrix1)):
    for j in range(len(matrix1[0])):
      sum_matrix[i][j] = matrix1[i][j] + matrix2[i][j]

  return sum_matrix


matrix1 = [[1, 2, 3], [4, 5, 6]]
matrix2 = [[7, 8, 9], [10, 11, 12]]

sum_matrix = sum_of_matrices(matrix1, matrix2)

print("Sum of the matrices:")
for row in sum_matrix:
  print(row)

Sum of the matrices:
[8, 10, 12]
[14, 16, 18]

In [ ]:
#Difference of two matrices
def diff_of_matrices(matrix1, matrix2):

  diff_matrix = [[0 for _ in range(len(matrix1[0]))] for _ in range(len(matrix1))]
  for i in range(len(matrix1)):
    for j in range(len(matrix1[0])):
      diff_matrix[i][j] = matrix1[i][j] - matrix2[i][j]

  return diff_matrix


matrix1 = [[1, 2, 3], [4, 5, 6]]
matrix2 = [[7, 8, 9], [10, 11, 12]]

diff_matrix = diff_of_matrices(matrix1, matrix2)

print("Difference of the matrices:")
for row in diff_matrix:
  print(row)

Difference of the matrices:
[-6, -6, -6]
[-6, -6, -6]

In [ ]:


def union_of_matrices(mat1, mat2):

  union_mat = [[0 for _ in range(len(mat1[0]))] for _ in range(len(mat1))]


  for i in range(len(mat1)):
    for j in range(len(mat1[0])):

      if mat1[i][j] == mat2[i][j]:
        union_mat[i][j] = 1


  return union_mat


mat1 = [[1, 0, 1], [0, 1, 0]]
mat2 = [[1, 1, 0], [0, 1, 1]]

union_mat   = union_of_matrices(mat1, mat2)

print("Union of the matrices:")
for row in union_mat:
  print(row)

Union of the matrices:
[1, 0, 0]
[1, 1, 0]

In [ ]:
def product_of_matrices(mat1, mat2):

  product_mat = [[0 for _ in range(len(mat2[0]))] for _ in range(len(mat1))]

  for i in range(len(mat1)):
    for j in range(len(mat2[0])):
      for k in range(len(mat2)):
        product_mat[i][j] += mat1[i][k] * mat2[k][j]


  return product_mat

matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]

product_mat = product_of_matrices(mat1, mat2)

print("Product of the matrices:")
for row in product_mat:
  print(row)

Product of the matrices:
[1, 1, 0]
[0, 1, 1]

In [ ]:
#Circular travesal
def left_shift_string(string, shift):
    shifted_string = string[shift:] + string[:shift]
    return shifted_string
string = "abcdefg"
shift=int(input('Enter shift traversal :'))
print(left_shift_string(string, shift))

Enter shift traversal :5
fgabcde

In [ ]:
# Searching in array
def search_string_in_array(arr, search_string):
  for element in arr:
    if element == search_string:
      return True
  return False

my_array = ["apple", "banana", "cherry", "mango"]
search_string = "banana"

found = search_string_in_array(my_array, search_string)

if found:
  print(f"{search_string}")
else:
  print(f"{search_string}")

In [ ]:
# Anagram checking of two string comparing
x=input('Enter first string')
y=input('Enter second string')
x1=x.sort()
y1=y.sort()
flag =False
for i in range(len(x1)):
  for j in range(len(y1)):
    if (x1[j]==y1[i]):
      flag=True

if flag==True:
  print('anagram')

Enter first stringbanana
Enter second stringanana

AttributeError: 'str' object has no attribute 'sort'

In [ ]:
#anagram
def are_anagrams(str1, str2):
    str1 = ''.join([char.lower() for char in str1 if char.isalnum()])
    str2 = ''.join([char.lower() for char in str2 if char.isalnum()])
    sorted_str1 = ''.join(sorted(str1))
    sorted_str2 = ''.join(sorted(str2))
    return sorted_str1 == sorted_str2

# Example usage:
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def first_n_primes(N):
    primes = []
    num = 2
    while len(primes) < N:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

# Example usage:
N = int(input("Enter the value of N: "))
prime_array = first_n_primes(N)
print("First", N, "prime numbers:", prime_array)

Enter the value of N: 2
First 2 prime numbers: [2, 3]

In [ ]:
def intersection(arr1, arr2):
    return [value for value in arr1 if value in arr2]


array1 = [1, 2, 3, 4, 5]
array2 = [4, 5, 6, 7, 8]
intersection_array = intersection(array1, array2)
print("Intersection:", intersection_array)

Intersection: [4, 5]

In [ ]:
def array_minus(arr1, arr2):
    return [value for value in arr1 if value not in arr2]

array1 = [1, 2, 3, 4, 5]
array2 = [4, 5, 6, 7, 8]
result_array = array_minus(array1, array2)
print("Array minus:", result_array)

Array minus: [1, 2, 3]

In [ ]:
# prompt: matrix multiplication using class

class Matrix:
    def __init__(self, rows, cols, data):
        self.rows = rows
        self.cols = cols
        self.data = data

    def __mul__(self, other):
        if self.cols != other.rows:
            raise ValueError("Matrices cannot be multiplied")

        result = Matrix(self.rows, other.cols, [0] * (self.rows * other.cols))

        for i in range(self.rows):
            for j in range(other.cols):
                for k in range(self.cols):
                    result.data[i * other.cols + j] += self.data[i * self.cols + k] * other.data[k * other.cols + j]

        return result

# Example usage:
matrix1 = Matrix(2, 3, [1, 2, 3, 4, 5, 6])
matrix2 = Matrix(3, 2, [7, 8, 9, 10, 11, 12])

product_matrix = matrix1 * matrix2

print("Product of the matrices:")
for row in product_matrix.data:
    print(row)